body{
  background-color: #444444;
  color: lime;
  font-family: courier;
  margin: 10% 20%;
  
}
.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  background-color: rgba(0,0,0, 0.1);
}
.name{
  border-bottom: 5px solid orange;
  text-align: center;
  color: 
}
