body{
  background-color: #444444;
  color: white;
  font-family: courier;
  margin: 10% 20%;
  
}
.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  background-color: rgba(0,0,0, 0.5);
}
.name{
  border-bottom: 5px solid yellow;
  text-align: center;
  color: 
}
.work{
  background-color: rgba(0,0,0, 0.1);
  
  border-bottom: 1px dotted yellow;
  
}

.workz{
  background-color: rgba(0,0,0, 0.1);
  
  
} 
img{
  width: 10rem;
  float: right;
}
